$color-background-primary:#F9FAFF;
$color-background-secondary: #FBFBFB;
$color-background-card: #FFFFFF;
$color-background-job-title:#3a709180;
$color-header-border: #9A9FA8;
$color-background-icons:rgba(255, 148, 148, 0.2);
$color-pink: #FF9494;
$color-blue:#3A7091;
$color-white: #FFFFFF;
$color-font-primary:#25282B;
$color-font-secondary:#656D72;
$color-font-text:#232E35;
$color-github:#000000;
$color-linkedin:#0a66c2;


$font-size-title-mb:3.2rem;
$font-size-subtitles-mb:3rem;
$font-size-title-lg:4rem;
$font-size-subtitles-lg:3.5rem;
$font-size-title-xl:4.5rem;
$font-size-subtitles-xl:4rem;
$font-size-title-xxl:6rem;
$font-size-subtitles-xxl:5rem;

$font-size-mb: 1.1rem;
$font-size-sm:1.2rem;
$font-size-lg: 1.5rem;
$font-size-xxl:1.7rem; 

$icon-size-sm:2rem;
$icon-size-lg:4rem;
$icon-size-xl:6rem;
$icon-size-xxl:8rem;
