body{
    main{
        section{
            
            div{
                article{
                    div{
                        h2{
                            color: $color-font-text;
                        }
                        p{
                            color: $color-font-secondary;
                        }
                        iframe{
                            &.spotify{
                                width: 100%;
                                @include tablet-sm(){
                                    width: 50%;
                                }
                                @include web-sm(){
                                    width: 100%;
                                }
                                @include web-lg(){
                                    width: 75%;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}