body{
    background : $color-background-primary;

    header{
        a{
            color: $color-font-primary;
        }
    }

    main{
        section{
            div{
                label{
                    &.label-subtitle{
                        color: $color-font-secondary; //color del font
                    }
                }
                article{
                    p{
                        color: $color-font-secondary;
                    }
                    h3{
                        color:$color-font-primary;
                    }
                    div{
                        &.card{
                            div{
                                &.card-img-custom.ejemplo-1{
                                    background-image: url('../image/porfolio/robofriends-78kb.jpg');
                                }
                                &.card-img-custom.ejemplo-2{
                                    background-image: url('../image/porfolio/thumbnail-personal-site-85kb.jpg');
                                }
                                &.card-img-custom.ejemplo-3{
                                    background-image: url('../image/porfolio/porfolio-ejemplo-3.png');
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}
