li{
    &.icons-style{
        &:hover{
            a{
                &.gh{
                    color: $color-github;
                    cursor: pointer; 
                }
                &.lk{
                    color: $color-linkedin;
                    cursor: pointer;
                }
            }
        }

    }
}
a{
    &.button-custom{
        padding        : 8px 24px;
        width          : 120px;
        // height         : 45px;
        &.btn-primary{
            background: $color-pink;
            color     : $color-font-primary;
            border    : 2px solid $color-pink;
            transition: all 0.25s ease; /* easing function */
            &:hover{
                background: $color-blue;
                color     : $color-white;
                border    : 2px solid $color-blue;
            }
        }
        &.btn-secondary{
            background: $color-white;
            color     : $color-font-primary;
            border    : 2px solid $color-font-primary;
            transition: all 0.25s ease; /* easing function */
            &:hover{
                background: $color-font-primary;
                color     : $color-white;
            }
        }
    }
}
label{
    &.technology{
        padding      : 4px 8px;
        border       : 1px solid $color-header-border; 
        border-radius: 4px;
        transition: all 0.25s ease; 
        font-size: $font-size-mb;
        &:hover{
            background-color:$color-blue;
            color: $color-white;
            cursor:pointer;
        }
        @include tablet-sm(){
            font-size: $font-size-sm;
        }
        @include web-sm (){
            font-size: $font-size-lg;
        }

    }
}
input{
    &.formulario-btn {
        height       : 49px;
        background   : $color-pink;
        border       : 1px solid #EAE6FE;
        border-radius: 8px;
        transition: all 0.25s ease;
        &:hover{
            background-color:$color-blue;
            color: $color-white;
            cursor:pointer;
        }
    }
}

