footer{
    div{
        a{
            i{
                font-size: $icon-size-sm;
                color: $color-font-secondary;
            }
        }
    }
    span{
        color: $color-font-secondary;
    }
}